@import url("https://fonts.cdnfonts.com/css/8bit-wonder");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: white;
  font-family: "8BIT WONDER", sans-serif;
}
.container {
  height: 100vh;
  width: 100%;
  background-color: azure;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}
.igrica {
  height: 60vh;
  background-color: black;
  width: 50%;
}
label {
  margin: 10px;
}
.unos {
  height: 40vh;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
button {
  background-color: white;
  color: black;
  width: 10vh;
  height: 4vh;
  margin: 10px;
}
#input1 {
  height: 40px;
  font-size: 20px;
  width: 20vh;
  color: black;
  margin: 10px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.ponovo {
  display: none;
}
h4 {
  margin: 20px;
}
